*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  color: #967676;
  background-color: rgb(234, 228, 234);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 150vh;
  margin: 0;
}
.container {
  width: 100%;
  min-width: 800 rem;
}
.header-container {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr;*/
  gap: 1rem;
  /* height: 20; */
  grid-template-areas:
    'a  b  c'
    'a  b  c'
    'a  d  e';
}
.logo {
  font-size: 5.5vmin;
  display: block;
  height: 8rem;
  width: 8rem;
  background-color: rgb(232, 96, 173);
  border-radius: 8%;
  text-align: center;
  color: white;
  /* padding: 1rem; */
  line-height: 8rem;
}
.score {
  font-size: 1.5rem;
  height: 8rem;
  width: 8rem;
  background-color: rgb(203, 201, 198);
  border-radius: 8%;
  text-align: center;
  color: aliceblue;
  padding: 1rem;
}
.best {
  font-size: 1.5rem;
  height: 8rem;
  width: 8rem;
  background-color: rgb(203, 201, 198);
  border-radius: 8%;
  text-align: center;
  color: aliceblue;
  padding: 1rem;
}
button {
  border-radius: 1rem;
  height: 3rem;
  width: 8rem;
  border-color: #d3a1c7;
  border-width: 0.2vmin;
}
.login {
  color: aliceblue;
  background-color: #d3a1c7;
}
.reset {
  color: aliceblue;
  background-color: #de06ab;
}
.sign-up {
  color: aliceblue;
  background-color: #d3a1c7;
}
.board-container {
  height: 28rem;
  text-align: center;
}
h2 {
  margin: 0.7rem;
}
h5 {
  margin: 0.8rem;
}
.board {
  height: 26rem;
  display: grid;
  grid-template-columns: repeat(4, 10.8vmin);
  grid-template-rows: repeat(4, 10.8vmin);
  gap: 2vmin;
  border-radius: 1vmin;
  background-color: #a38e8e;
  padding: 2vmin;
  position: relative;
}
/* .grid {
  background-color: #a38e8e;
  border-radius: 1vmin;
  height: 24rem;
  gap: 2vmin;
} */
.cell {
  background-color: rgb(233, 210, 210);
  border-radius: 0.5vmin;
  height: 10.8vmin;
}
.tile {
  --x: 0;
  --y: 0;
  /* --background-lightness: 80%;
  --text-lightness: 20%; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  width: 10.8vmin;
  height: 10.8vmin;
  background-color: rgb(139, 226, 227);
  border-radius: 0.5vmin;
  font-weight: bold;
  top: calc(var(--y) * (10.8vmin + 2vmin) + 2vmin);
  left: calc(var(--x) * (10.8vmin + 2vmin) + 2vmin);
  /* background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness)); */
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}
@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
